.navbar {
  background: linear-gradient(to right, #ffffff 40%, rgba(255, 255, 255, 0.1) 90%);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  .navbar-nav {
    .nav-item {
      border-left: 2px solid #cecece;
    }
  }
}
