.chatbot {
  max-width: 800px;
  position: relative;
  border-radius: 17px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  &__conversation {
    min-height: 350px;
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 40px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(10px);
  }
  &__chat {
    clear: both;
    width: auto;
    max-width: 80%;
    position: relative;
    padding: 15px;
    margin: 1em 0 1em;
    color: #000000;
    background-color: #ffffff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 20px;
    &::after {
      content: "";
      position: absolute;
      border-style: solid;
      display: block;
      width: 0;
    }
    &.left {
      margin-left: 40px;
      float: left;
      &::after {
        top: 17px;
        left: -15px;
        bottom: auto;
        border-width: 5px 15px 5px 0px;
        border-color: transparent #ffffff;
      }
    }
    &.right {
      float: right;
      margin-right: 40px;
      &::after {
        right: -15px;
        top: 17px;
        bottom: auto;
        left: auto;
        border-width: 5px 0px 5px 15px;
        border-color: transparent #ffffff;
      }
    }
  }
  &__input {
    position: absolute;
    margin-top: 20px;
    bottom: 0;
    right: 20px;
    left: 20px;
  }
}
