<div class="row">
  <div class="col-12">
    <div class="chatbot m-auto p-4">
      <div class="chatbot__conversation">
        <p class="chatbot__chat left">hsdjk hsjkhsjdhsdjk hsjkhsjdhsdjk hsjkhsjdhsdjk hsjkhsjdhsdjk hsjkhsjdhsdjk hsjkhsjd</p>
        <p class="chatbot__chat left">hsdjkhsjkhsjd</p>
        <p class="chatbot__chat right">hsdjkhsjkhsjd</p>
        <p class="chatbot__chat right">hsdjkhsjkhsjd</p>
      </div>
      <form class="chatbot__input">
        <div class="form-group">
          <input type="text" class="form-control" name="message" placeholder="Enter message">
        </div>
      </form>
    </div>
  </div>
</div>
