@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  &:before {
    content: "";
    background: rgba(4, 8, 29, 0.7);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  background-image: url('./assets/images/ai-bg.jpg');
  background-size:cover;
}
